
&i2c4 {
        fusb0: fusb30x@22 {
                compatible = "fairchild,fusb302";
                reg = <0x22>;
                pinctrl-names = "default";
                pinctrl-0 = <&fusb0_int>;
                int-n-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
                vbus-5v-gpios = <&gpio4 26 GPIO_ACTIVE_HIGH>;
                status = "okay";
        };
};


&cdn_dp {
        status = "okay";
        extcon = <&fusb0>;
        phys = <&tcphy0_dp>;
};

&tcphy0 {
        extcon = <&fusb0>;
        status = "okay";
};

&tcphy1 {
        status = "okay";
};

&u2phy0 {
        status = "okay";
        extcon = <&fusb0>;

        u2phy0_otg: otg-port {
                status = "okay";
        };

        u2phy0_host: host-port {
                status = "okay";
        };
};

&u2phy1 {
        status = "okay";

        u2phy1_otg: otg-port {
                status = "okay";
        };

        u2phy1_host: host-port {
                status = "okay";
        };
};


&usbdrd3_0 {
        status = "okay";
        extcon = <&fusb0>;
};

&usbdrd3_1 {
        status = "okay";
};

&usbdrd_dwc3_0 {
        status = "okay";
	dr_mode = "host";
};

&usbdrd_dwc3_1 {
        status = "okay";
        dr_mode = "host";
};

&usb_host0_ehci {
        status = "okay";
};

&usb_host0_ohci {
        status = "okay";
};

&usb_host1_ehci {
        status = "okay";
};

&usb_host1_ohci {
        status = "okay";
};

&pinctrl {
        fusb30x {
                fusb0_int: fusb0-int {
                        rockchip,pins = <1 2 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };
};


